*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Raleway";
}
main{
    display: flex;
    justify-content: space-between;

}
header{
    border-bottom: 1px solid black;
}
body{
    background: linear-gradient(to right, #000000, #66261f, #6b2929, #000000);
    background-repeat: no-repeat;
}

input[type="button"],input[type="submit"]{
    cursor:pointer;
    align-items: center;
    height: 2rem;
    width: 6rem;
    border: 2px solid red;
    background-color: #2f2828;
    color: white;
    font-size: 14px;
}
.moviePoster{
    height: 20rem;
    width: 17rem;
}

.txtInfo{
    color: rgb(191, 65, 65);
}
.asideInfo{
    height: 100dvh;
    width: 15rem;
    color: white;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-self: flex-start;
    border-right: 2px solid     black;

}
.itens-container{
    width: 75rem;
}
.paymentMethod-container{
    width: 100%;
    border-top: 2px solid black;
    height: 25rem;
}
.paymentMethod{
    margin-top: 3rem;
    position: relative;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}

.methods{
    display: flex;
    column-gap: 2rem ;
}
.methods > label > input{
    visibility: hidden;
}

.methods > label > input + img{
    cursor:pointer;
}

.end{
    display: flex;
    justify-content: flex-end;
   
}

.end > div {
    display: flex;
    cursor:pointer;
}
.end > div > div{
    
    width: 5rem;
    display: flex;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    background-color: #2f2828;
    color: white;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}
.end > div > div > p{
    margin-left: 5px;
    margin-top: 6px;
    font-size: 14px;
    color: white;
    
}

.imgMethod{
width: 2rem;
height: 2rem;
}

.imgMethod:hover{
    transition: 0.4s ease;
    filter: contrast(5%);
}

.paymentInfo{
     width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.paymentInfo > img{
    mix-blend-mode: color-burn;
    width: 10rem;
    height: 10rem;
}

.paymentCard{
    width: 20rem;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    flex-direction: row;
    column-gap: 10px;
}

.nameInput{
    width: 16rem;
    height: 2rem;
    color: black;
}

.numberInput{
    color: black;
    width: 6rem;
    height: 2rem;
}
#confirmButton{
    position: relative;
    bottom:-1rem;
    left: 33%;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }