*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}
main{
    display: flex;
    justify-content: space-between;

}
.moviePoster{
    height: 20rem;
    width: 17rem;
}

.txtInfo{
    color: rgb(191, 65, 65);
}
.asideInfo{
    overflow: hidden;
    display: flex;
    justify-self: flex-start;
    border-right: 2px solid black;

}
.itens-container{
    width: 75rem;
}
.itens{
    height: 13rem;
}
.paymentMethod-container{
    height: 25rem;
}
.paymentMethod{
    position: relative;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}

.methods{
    display: flex;
    column-gap: 2rem ;
}
.end{
    display: flex;
    justify-content: flex-end;
   
}

.end > div {
    display: flex;
    cursor:pointer;
}
.end > div > div{
    
    width: 5rem;
    display: flex;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    background-color: #2f2828;
    color: white;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}
.end > div > div > p{
    margin-left: 5px;
    margin-top: 6px;
    font-size: 14px;
    color: white;
    
}

.end > div > input[type="button"] {
    cursor:pointer;
    align-items: center;
    height: 2rem;
    width: 6rem;
    border: 2px solid red;
    background-color: #2f2828;
    color: white;
    font-size: 14px;
}