*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

body{
    background: linear-gradient(to right, #000000, #66261f, #6b2929, #000000);
}
.imgList{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.cancel{
    position: relative;
    bottom: -3rem;
    right: -17rem;
}

.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* z-index: -1; */
}

.modal-container.show{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.modal.show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background-color:rgb(94, 35, 35);  
    color: white;
    row-gap: 2rem;
    border: 2px solid black; 
}
.modal > form{
    display: none;

}
.modal > div > input{
    height: 2rem;
    width: 6rem;
    border: 2px solid red;
    background-color: #2f2828;
    color: white;
    cursor: pointer;
}
.modal > form > div > input{
  
    height: 2rem;
    width: 6rem;
    border: 2px solid red;
    background-color: #2f2828;
    color: white;
    cursor: pointer;
}
.modal > form.show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;

}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover{
    color: black;
}
td{
    text-align: center;
}
table {
    border: 2px solid black;
    color: white;
    margin-top: 5px;
    border-collapse:collapse;
    width: 100%;
    background-color: #fff;
}
th{
    border: none;
    background-color:rgb(94, 35, 35); 
    height: 4rem;
    cursor: default;
}
th:hover{
    background-color:black;
    transition: 1s ease;
}
table tr:nth-child(odd){
    border-collapse: collapse;
    background-color: rgb(35, 44, 50);
}

table tr:nth-child(even){
    border-collapse: collapse;
    background-color:rgb(94, 35, 35); 
}
td{
    height: 6rem;
    cursor: default;
}
tbody:last-child{
    background-color: red;
}

table tr:nth-child(odd):hover{
    border-collapse: collapse;
    background-color: rgb(28, 33, 37);
    transition: 1s ease;
}
table tr:nth-child(even):hover{
    border-collapse: collapse;
    background-color: rgb(64, 25, 25);
    transition: 1s ease;
}